<h1>Sorry dude!</h1>
<p>It looks like you already have this movie saved in your list.</p>

<%= button_to("Search another movie!", home_path, {method: :get}) %>
<%= button_to("View current saved movie list", movies_path, {method: :get}) %>